body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color:#6B9BDF;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}

.quemsomos {
    background-color:#949393;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.margin {
        padding-bottom: 50px;
        padding-top: 10px;
}

.parceiros {
    background-color:#58ACFA;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-footer {
    padding-top: 40px;
    background-color: #212529;
    color: brown;
 }